ul {
	list-style-type: none;
	padding-left: 0px;
}

.main-menu {
	text-align: center;
	font-size: 150%;
}

.main-title {
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
}

h2 {
	font-size: 300%
}

a:link {
	color: #252525 !important;
}
a:visited {
	color: #252525 !important;
}
a:hover {
	color: #505050 !important;
	text-decoration: none;
}
a:active {
	color: #252525 !important;

}