* {
	font-family: Helvetica;
	color: #252525
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}

.main-menu {
	text-align: left;
}

.main-title {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
}

html, body {
	height: 100%;
}

.container {
	margin: 100px;
	height:100%;
	width: 854px;
}

a:link {
	color: #252525 !important;
}
a:visited {
	color: #252525 !important;
}
a:hover {
	color: #337ab7 !important;
	text-decoration: underline;
}
a:active {
	color: #252525 !important;
}

.navigation {
	font-size: 16px;
}

.current-page {
	color: #337ab7;
}

#turf-war-blurb {
	width: 854px;
}