ul {
	list-style-type: none;
	padding-left: 0px;
}

.main-menu {
	text-align: center;
}

.main-title {
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

a:link {
	color: #252525 !important;
}
a:visited {
	color: #252525 !important;
}
a:hover {
	color: #505050 !important;
	text-decoration: none;
}
a:active {
	color: #252525 !important;

}